.measurement-panel {
    position: absolute;
    bottom: 8em;
    cursor: pointer;
    height: 2em;
    z-index: 1;
    margin-left: 2em;
    font-size: 2em;
    border-radius: 0.5em;
    border: 0.1em solid #249CDD;
    overflow: hidden;
}

.measurement-panel label {
    color: #249CDD;
    line-height: 2em;
}

.measurement-panel label span {
    text-align:center;
    padding-right: 0.4em;
    padding-left: 0.4em;
    display: inline-block;
    width: 3em;
}

.measurement-panel label input {
    display: none;
}

.measurement-panel input:checked + span {
    background-color:#249CDD;
    color:#fff;
}
